---
InheritParentConfig: true
CheckOptions:
  #- key:             bugprone-unused-return-value.CheckedFunctions
  #  value:           '::.*'
  - key:             bugprone-unused-return-value.AllowCastToVoid
    value:           'true'