---
Checks: >
        -*,
        clang-analyzer-*,
        -clang-analyzer-optin.performance.Padding,
        -clang-analyzer-core.CallAndMessage
WarningsAsErrors: '*'
HeaderFilterRegex: '(cli|gui|lib|oss-fuzz|test|triage)\/[a-z]+\.h'
CheckOptions:
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             readability-simplify-boolean-expr.SimplifyDeMorgan
    value:           '0'
