---
Checks: >
        *,
        -abseil-*,
        -altera-*,
        -android-*,
        -boost-*,
        -cert-*,
        -cppcoreguidelines-*,
        -darwin-*,
        -fuchsia-*,
        -google-*,
        -hicpp-*,
        -linuxkernel-*,
        -llvm-*,
        -llvmlibc-*,
        -mpi-*,
        -objc-*,
        -openmp-*,
        -zircon-*,
        cert-err34-c,
        google-explicit-constructor,
        cppcoreguidelines-rvalue-reference-param-not-moved,
        -bugprone-assignment-in-if-condition,
        -bugprone-branch-clone,
        -bugprone-easily-swappable-parameters,
        -bugprone-empty-catch,
        -bugprone-macro-parentheses,
        -bugprone-narrowing-conversions,
        -bugprone-signed-char-misuse,
        -bugprone-switch-missing-default-case,
        -bugprone-unchecked-optional-access,
        -clang-analyzer-*,
        -concurrency-mt-unsafe,
        -misc-const-correctness,
        -misc-no-recursion,
        -misc-non-private-member-variables-in-classes,
        -misc-throw-by-value-catch-by-reference,
        -misc-use-anonymous-namespace,
        -modernize-avoid-c-arrays,
        -modernize-deprecated-ios-base-aliases,
        -misc-include-cleaner,
        -modernize-loop-convert,
        -modernize-raw-string-literal,
        -modernize-replace-auto-ptr,
        -modernize-return-braced-init-list,
        -modernize-use-auto,
        -modernize-use-trailing-return-type,
        -performance-avoid-endl,
        -performance-inefficient-string-concatenation,
        -performance-no-automatic-move,
        -performance-noexcept-swap,
        -portability-simd-intrinsics,
        -portability-std-allocator-const,
        -readability-avoid-const-params-in-decls,
        -readability-braces-around-statements,
        -readability-const-return-type,
        -readability-container-data-pointer,
        -readability-convert-member-functions-to-static,
        -readability-function-cognitive-complexity,
        -readability-function-size,
        -readability-identifier-length,
        -readability-identifier-naming,
        -readability-implicit-bool-conversion,
        -readability-isolate-declaration,
        -readability-magic-numbers,
        -readability-redundant-access-specifiers,
        -readability-suspicious-call-argument,
        -readability-uppercase-literal-suffix
WarningsAsErrors: '*'
HeaderFilterRegex: '(cli|gui|lib|oss-fuzz|test|triage)\/[a-z]+\.h'
CheckOptions:
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             readability-simplify-boolean-expr.SimplifyDeMorgan
    value:           '0'
