[MESSAGES CONTROL]
disable=C,R,W
enable=mixed-indentation,
       trailing-whitespace,
       print-statement,
       literal-comparison,
       unnecessary-semicolon,
       mixed-line-endings,
       bad-open-mode,
       redundant-unittest-assert,
       boolean-datetime,
       deprecated-method,
       anomalous-unicode-escape-in-string,
       anomalous-backslash-in-string,
       bad-indentation
[REPORTS]
reports=no
[TYPECHECK]
# See https://stackoverflow.com/questions/10300082/how-to-prevent-python-pylint-complaining-about-socket-class-sendall-method
ignored-classes=SQLObject,_socketobject
[MASTER]
init-hook='import sys; sys.path.append("./addons")'
suggestion-mode=yes
