version: 1.73.{build}

clone_depth: 10

environment:
  matrix:
    - VisualStudioVersion: 12.0
      platform: "Win32"
      configuration: "Debug"
      vcvarsall_platform: "x86"
      PlatformToolset: "v120"
    - VisualStudioVersion: 12.0
      platform: "Win32"
      configuration: "Release"
      vcvarsall_platform: "x86"
      PlatformToolset: "v120"
    - VisualStudioVersion: 12.0
      platform: "x64"
      configuration: "Debug"
      vcvarsall_platform: "x64"
      PlatformToolset: "v120"
    - VisualStudioVersion: 12.0
      platform: "x64"
      configuration: "Release"
      vcvarsall_platform: "x64"
      PlatformToolset: "v120"
    - VisualStudioVersion: 14.0
      platform: "Win32"
      configuration: "Debug"
      vcvarsall_platform: "x86"
      PlatformToolset: "v140"
    - VisualStudioVersion: 14.0
      platform: "x64"
      configuration: "Debug"
      vcvarsall_platform: "x64"
      PlatformToolset: "v140"

build_script:
  - ECHO Building %configuration% %platform% with MSVC %VisualStudioVersion% using %PlatformToolset% PlatformToolset
  - 'IF "%VisualStudioVersion%" == "10.0" IF "%platform%" == "x64" CALL "C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /%vcvarsall_platform% /%configuration%'
  - 'CALL "C:\Program Files (x86)\Microsoft Visual Studio %VisualStudioVersion%\VC\vcvarsall.bat" %vcvarsall_platform%'
  - msbuild "cppcheck.sln" /consoleloggerparameters:Verbosity=minimal /target:Build /property:Configuration="%configuration%";Platform=%platform% /p:PlatformToolset=%PlatformToolset% /maxcpucount /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
  - 'IF "%VisualStudioVersion%" == "14.0" IF "%platform%" == "x64" pushd gui && C:\Qt\5.10.1\msvc2015_64\bin\qmake && popd

test_script:
  - IF "%CONFIGURATION%" == "Debug"   bin\debug\testrunner.exe
  - IF "%CONFIGURATION%" == "Release" bin\testrunner.exe

artifacts:
  - path: bin
    name: CLI binaries
    type: zip
