body {
  margin: 0;
  padding: 0;
  font-family: Calibri,Verdana,sans-serif;
  color: #000;
  background: #eee;
}

/* Default link style */
a:link { color:#036; text-decoration:underline; }
a:visited { color:#036; text-decoration:underline; }
a:focus { color:#369; text-decoration:none; }
a:hover { color:#369; text-decoration:none; }
a:active { color:#369; text-decoration:none; }

/* Header */
#header {
  color: #69c;
  background: #036;
}
#header h1 {
  margin: 0;
  padding: 0;
  font-family: Orbitron,Calibri,Verdana,sans-serif;
}
#header p {
  margin: 0;
  padding: 0;
  font-size: larger;
}

/* Tabs */
#tabs {
  color: #eee;
  background: #369;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
#tabs ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: larger;
}
#tabs ul li {
  display: inline;
  margin: 0;
  padding: 0 .5em;
  border-right: 1px solid #000;
}
#tabs ul li:first-child {
  padding-left: 0;
}
#tabs ul li:last-child {
  border: none;
}
#tabs a:link { color:#eee; text-decoration:none; }
#tabs a:visited { color:#eee; text-decoration:none; }
#tabs a:focus { color:#fff; text-decoration:underline; }
#tabs a:hover { color:#fff; text-decoration:underline; }
#tabs a:active { color:#fff; text-decoration:underline; }

/* Wrap */
.wrap {
  width: 50em;
  margin: 0 auto;
  padding: .5em;
}

/* RSS feed items */
.rssfeeditems em {
  margin-left: .5em;
  color: #888;
  font-size: smaller;
}

/* "Download Now!" link */
a.downloadnow {
  display: block;
  width: 12em;
  margin: 0;
  padding: 5px;
 text-align: center;
  text-decoration: none;
  color: white;
  background: #060;
  border: 1px solid #060;
  /* border-radius */
  border-radius: .5em;
  -moz-border-radius: .5em;
  -khtml-border-radius: .5em;
  -webkit-border-radius: .5em;
}

a.downloadnow:link,
a.downloadnow:visited {
  text-decoration: none;
  color: white;
}

a.downloadnow:focus,
a.downloadnow:hover {
  text-decoration: none;
  color: white;
  background: #090;
}

a.downloadnow strong {
  display: block;
  font-size: larger;
  font-weight: bold;
}

a.downloadnow em {
  display: block;
  font-size: smaller;
  font-style: normal;
}

/* Printing */
@media print {
  #header { color: black; border-bottom: 1px solid black; }
  #tabs { display: none; }
}