table {
  text-align: center;
}

td {
  font-size: 0.9em;
  padding: 0.2em;
}

td + td {
  padding-left: 6em;
}

th {
  cursor: pointer;
}

th + th {
  padding-left: 5em;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):after {
  content: " \25B4\25BE";
}
