
th {
  font-size:80%;
  color:#ffffff;
  background-color:#555555;
  border:1px solid #555555;
  padding:3px;
  vertical-align:top;
  text-align:left;
}

td {
  font-size:80%;
  border:1px solid #d4d4d4;
  padding:5px;
  padding-top:7px;
  padding-bottom:7px;
  vertical-align:top;
}

.code {
  font-family:courier;
  background-color:lightgray;
  border:1px solid gray;
}

.tp        { color:red; }
.fp        { color:green; }
.notfound  { color:blue; }
.untriaged { color:black; }

