th {
  background-color: #555;
  border: 1px solid #555;
  color: white;
  font-size: 80%;
  padding: 3px;
  text-align: left;
  vertical-align: top;
}

td {
  border: 1px solid #d4d4d4;
  font-size: 80%;
  padding: 7px 5px;
  vertical-align: top;
}

.code {
  background-color: lightgray;
  border: 1px solid gray;
  font-family: courier;
}

.tp {
  color: red;
}

.fp {
  color: green;
}

.notfound {
  color: blue;
}

.untriaged {
  color: black;
}
