<?xml version='1.0' encoding='windows-1252'?>
<?include productInfo.wxi ?> 
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='$(var.ProductName)' Id='$(var.ProductGUID)' UpgradeCode='$(var.ProductUpgradeCode)'
    Language='1033' Codepage='1252' Version='$(var.ProductVersion)' Manufacturer='The Cppcheck team'>

    <Package Id='*' Keywords='Installer' Description="$(var.ProductName) Setup"
      Comments='Cppcheck is a tool for static analysis of C/C++ code' Manufacturer='The Cppcheck team'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='Cppcheck.cab' EmbedCab='yes' DiskPrompt='CD-ROM 1' />
    <Property Id='DiskPrompt' Value='Cppcheck installation [1]' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='$(var.ProductNameShort)'>
          <Component Id='cppcheck.exe' Guid='$(var.cppcheckGUID)'>
            <File Id='cppcheck.exe' Name='cppcheck.exe' DiskId='1' Source='cppcheck.exe' KeyPath='yes' />
            <Environment Id='UpdatePath' Name='PATH' Action='set' System='yes' Part='last' Value='[INSTALLDIR]' />
          </Component>
          <Component Id='gui.exe' DiskId='1' Guid='$(var.guiGUID)'>
            <File Id='gui.exe' Name='gui.exe' Source='gui.exe' KeyPath='yes'>
              <Shortcut Id='startmenuGui' Directory="ProgramMenuDir" Name="Cppcheck"
                  WorkingDirectory='INSTALLDIR' Icon="gui.exe" IconIndex="0" Advertise="yes" />
            </File>
            <File Id='mingwm10dll' Name='mingwm10.dll' Source='mingwm10.dll' />
            <File Id='qtcore4dll' Name='qtcore4.dll' Source='qtcore4.dll' />
            <File Id='qtgui4dll' Name='qtgui4.dll' Source='qtgui4.dll' />
            <File Id='qtxml4dll' Name='qtxml4.dll' Source='qtxml4.dll' />
          </Component>
          <Component Id='authors.txt' Guid='*'>
            <File Id='authors.txt' Name='authors.txt' DiskId='1' Source='..\authors' KeyPath='yes' />
          </Component>
          <Component Id='readme.txt' Guid='*'>
            <File Id='readme.txt' Name='readme.txt' DiskId='1' Source='..\readme.txt' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id='ProgramMenuFolder' Name='Programs' >
        <Directory Id='ProgramMenuDir' Name='$(var.ProductName)'>
          <Component Id='ProgramMenuDir' Guid='*'>
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\Cppcheck\$(var.ProductName)' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='Complete' Title='$(var.ProductName)' Description='The complete package.' 
      Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR' >
      <Feature Id='MainProgram' Title='Command line interface' Description='Command line tool' Level='1'>
        <ComponentRef Id='cppcheck.exe' />
        <ComponentRef Id='gui.exe' />
        <ComponentRef Id='authors.txt' />
        <ComponentRef Id='readme.txt' />
        <ComponentRef Id='ProgramMenuDir' />
      </Feature>
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_InstallDir"/>

    <Icon Id='gui.exe' SourceFile='gui.exe' />
  </Product>
</Wix>
