# Syntax reference https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions
# Environment reference https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
name: CI-unixish

on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false # not worthwhile...

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Install missing software on ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install libxml2-utils
          sudo apt-get install z3 libz3-dev

      - name: Install missing software on macos
        if: matrix.os == 'macos-latest'
        run: |
          brew install z3
          
      - name: Install Qt
        uses: jurplel/install-qt-action@v2

      - name: Build cppcheck
        run: |
          make -j2 USE_Z3=yes HAVE_RULES=yes

      - name: Build test
        run: |
          make -j2 testrunner USE_Z3=yes HAVE_RULES=yes

      - name: Test
        run: |
          make -j2 check USE_Z3=yes HAVE_RULES=yes
          
      - name: Build GUI
        run: |
          pushd gui
          qmake
          make -j2

      - name: Validate
        run: |
          make validateCFG
          make validatePlatforms
