# Syntax reference https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions
# Environment reference https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
name: CI

on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: true

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Install missing software on ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update
          sudo apt-get install libxml2-utils
          sudo apt-get install z3 libz3-dev

      - name: Install missing software on macos
        if: matrix.os == 'macos-latest'
        run: |
          brew install z3

      - name: Build cppcheck
        run: |
          make -j2 USE_Z3=yes

      - name: Build test
        run: |
          make -j2 testrunner USE_Z3=yes

      - name: Test
        run: |
          make -j2 check USE_Z3=yes

      - name: Validate
        run: |
          make validateCFG
          make validatePlatforms
